@import "@/styles/utils/index";

.row {
  position: relative;
  padding: 1rem 3rem 0;
  height: 92px;
}

.open-list {
  @include flex();

  button {
    width: 25px;
    height: 25px;
    border: none;
    background: none;

    $size: 100%;

    svg {
      width: $size;
      height: $size;
    }
  }
}

.author {
  margin-bottom: 0.5rem;

  @include title-font;
  font: {
    size: 2rem;
  }
}

.name {
  @include primary-font;
  font: {
    size: 1.5rem;
  }
}

.author-loader {
  display: block;
  width: 40%;

  @include lg-screen {
      width: 90%;
  }
}

.name-loader {
  display: block;
  width: 30%;

  @include lg-screen {
    width: 80%;
  }
}
